body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
}

.plus-minus {
    position: relative;
}
.cart-product-item-table{
    width: 100%;
}
.cart-product-item-table td{
    vertical-align: top;
    padding: 10px;
}

.tablesheet-col1{
    width: 20%;
}
.tablesheet-col2{
    width: 55%;
}
.tablesheet-col3{
    width: 20%;
}
.tablesheet-col4 .btn-delete:hover{
    cursor: pointer;
}
.products-description-name{
    width: 90%;
    overflow: hidden;
    max-height: 50px;
}
.products-description-price .mob-text,
.products-description-subprice .mob-text{
    font-size: .875rem;
    line-height: 1em;
    font-weight: 600;
    white-space: nowrap;
    color: #333;
}
/* #number-quantity {
    text-align: center;
    width: 30%;
} */
.quantity-input{
    height: 40px;
    overflow: hidden;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    width: 50%;
}
.quantity-input input{
    border: none;
    width: 30%;
    text-align: center;
}
.quantity-input button{
    width: 30%;
    height: 100%;
    font-size: 20px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    font-weight: lighter;
    outline: none;
}
.quantity-input button:hover {
    background-color: #ddd;
  }
.book .book-img {
    /* width: 120px; */
    height: 180px;
    border-radius: 5px;
}

/* .book {
    margin: 20px 15px 5px 15px;
} */

.border-top {
    border-top: 1px solid #eeeeee !important;
    margin-top: 20px;
    padding-top: 15px;
}

.card {
    margin: 40px 0px;
    padding: 40px 50px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

/* input, textarea {
    background-color: #F3E5F5;
    padding: 8px 15px 8px 15px;
    width: 100%;
    border-radius: 5px !important;
    box-sizing: border-box;
    border: 1px solid #F3E5F5;
    font-size: 15px !important;
    color: #000 !important;
    font-weight: 300;
}

input:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #9FA8DA;
    outline-width: 0;
    font-weight: 400;
} */

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.pay {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #673ab7;
    margin: 10px 20px 10px 0px;
    cursor: pointer;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    color: #e0e0e0;
}

.gray .pay {
    box-shadow: none;
}

#tax {
    border-top: 1px lightgray solid;
    margin-top: 10px;
    padding-top: 10px;
}

.btn-blue {
    border: none;
    border-radius: 10px;
    background-color: yellowgreen;
    color: #fff;
    padding: 8px 15px;
    margin: 20px 0px;
    cursor: pointer;
}

.btn-blue:hover {
    background-color: #38ee41;
    color: #fff;
}
.btn-back {
    border: none;
    border-radius: 10px;
    background-color: #673ab7;
    color: #fff;
    padding: 8px 15px;
    margin: 20px 0px;
    cursor: pointer;
    width: 40%;
    text-align: center;
    height: 25%;
}
.btn-back:hover {
    background-color: #311b92;
    color: #fff;
}
#checkout {
    float: left;
}
#checkout a{
    color: #000 !important;
}
#check-amt {
    float: right;
    color: #000;
}
.cart-product-item-table .tablesheet-col2 .delete-item-cart{
        display: none;
    }
@media screen and (max-width: 1024px) {
    .quantity-input input{
        width: 28%;
    }
}
@media screen and (max-width: 768px) {
    /* .book{
        width: 100px;
    }
    .book-img{
        width: 100%;
        height: auto;
    } */
    .btn-success{
        font-size: 0.85rem !important;
    }
    .book {
        width: 100px;
        height: 110px;
    }
    .book-img{
        width: 100%;
        height: 100% !important;
    } 
    .card {
        padding-left: 15px;
        padding-right: 15px;
    }

    .mob-text {
        font-size: 13px;
    }

    .pad-left {
        padding-left: 20px;
    }
    .quantity-input{
        width: 100%;
    }
}
@media (max-width: 480px) {
    /* .book .book-img{
        height: auto;
        width: 100%;
    } */
    .btn-success{
        width: 40% !important; 
    }
    .btn-delete {
        right: 42% !important;
    }
    #tableheader .tablesheet-col1{
        width: 100%;
    }
    #tableheader .tablesheet-col3{
        display: none;
    }
    .cart-product-item-table .tablesheet-col2 .delete-item-cart{
        display: contents !important;
    }
    .cart-product-item-table .tablesheet-col2 .delete-item-cart a{
        color: red;
    }
    .cart-product-item-table .tablesheet-col3{
        padding: 0;
        display: none;
    }
    .cart-product-item-table .tablesheet-col4{
        display: none;
    }
    .quantity-input{
        height: 100%;
        width: 100%;
        display: grid;
    }
    .quantity-input button{
        width: 100%;
    }
    .quantity-input input{
        width: 100%;
    }
}
/* 
.btn-delete{
    position: relative;
    right: 49%;
} */
/* .delete-item-cart{
    color: red !important;
} */
.card ul{
    list-style: inside;
    font-size: 14px;
    
}

