
ul > li {
    margin-right: 25px;
     font-weight: lighter;
    cursor: pointer;
}
.body{
    border-top: 1px ridge;
}
.item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-items {
    display: inline-flex;
    margin-bottom: 0;
    margin-top: 20px;
}
.btn-action{
    border-radius: 20px;
    width: 100%;
    height: 40px;
}
.btn-add-to-cart{
    background-color: #333;
}
.btn-add-to-cart:hover{
    background-color: #666;
}
.btn-add-to-cart a{
    color: white;
}
.btn-add-to-wishlist{
    background-color: white;
    border-color: black;
}
.btn-add-to-wishlist:hover{
    background-color: #DCDCDC;
}
.btn-add-to-wishlist a{
    color: black;
}

.section {
    text-align: center;
    width: 100%;
    padding: 2px;
    background: #f8f9f9;
}
.title-price {
    margin-top: 30px;
    margin-bottom: 0;
    color: black;
}
.title-attr {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}
.btn-minus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-right: 0;
}
.btn-plus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-left: 0;
}
div.section > div {
    width: 100%;
    display: inline-flex;
}
div.section > div > input {
    margin: 0;
    padding-left: 5px;
    font-size: 10px;
    padding-right: 5px;
    max-width: 18%;
    text-align: center;
}
.attr,
.attr2 {
    cursor: pointer;
    margin-right: 5px;
    height: 20px;
    font-size: 10px;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 2px;
}
.attr.active,
.attr2.active {
    border: 1px solid orange;
}

@media screen and (min-width: 320px) and (max-width: 780px) {
    .container {
        margin-top: 0px !important;
    }
    .container > .row {
        padding: 0 !important;
    }
    .container > .row > .col-xs-12.col-sm-5 {
        padding-right: 0;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > p {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul {
        padding-left: 10px !important;
    }
    .section {
        width: 100%;
    }
    .menu-items {
        padding-left: 0;
    }
    .product-detail{
        display: contents;
    }
    .product-detail .product-detail-image{
        max-width: 100% !important;
        margin-top: 1em;
    }
    .product-detail .product-detail-image .product-detail-image-info{
        flex-direction: column-reverse;
        text-align: center;
    }
    .product-detail .product-detail-image .product-detail-image-info .image-gallery, .image-main-show{
        max-width: 100% !important;
    }
    #divId{
        display: inline-flex !important;
        margin: 10px 0;
        width: 100%;
    }
    .product-detail .product-detail-image .product-detail-image-info .image-gallery .imgStyle{
        margin: 0 20px !important;

    }
    #mainImage{
        width: 70% !important;
    }
    .product-detail .product-detail-info{
        max-width: 100% !important;
    }
    .product-detail .product-detail-info .section .col-md-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .product-detail-name h1{
        font-size: 1.25rem !important;
    }
    .ti-cart, .ti-heart-favorite{
        font-size: 0.85rem;
    }
}
@media (max-width: 428px) {
    .product-detail .product-detail-image .product-detail-image-info .image-gallery .imgStyle{
        margin: 0 20px !important;
        width: 15%;
        height: auto;
    }
    .ti-cart, .ti-heart-favorite{
        font-size: 0.65rem;
    }
    .btn-add-to-wishlist a{
        color: black !important;
    }
}
/* @media (max-width: 426px) {
    .container {
        margin-top: 0px !important;
    }
    .container > .row {
        padding: 0 !important;
    }
    .container > .row > .col-xs-12.col-sm-5 {
        padding-right: 0;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > p {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul {
        padding-left: 10px !important;
    }
    .section {
        width: 104%;
    }
    .menu-items {
        padding-left: 0;
    }
} */
.product-detail{
    margin-top: 2.5rem;
}
.product-detail-name h1 {
    font-family: "Trirong",arial,helvetica,clean,sans-serif;
    font-size: 1.6rem;
    line-height: 1.42em;
    letter-spacing: -0.5pt;
    color: #333;
    font-weight: 400;
}
.product-useful{
    font-size: .75rem;
}
.qty-section-title {
    color: #757575;
    padding-bottom: 5px;
    font-size: .875rem;
}
#order-qty{
    width: 41%;
    border: 1px solid #c1c1c1;
    overflow: hidden;
    border-radius: 5px;
    height: 40px;
}
#order-qty button{
    background-color: #f0f0f0;
    border: none;
    width: 30%;
    font-size: 1.25rem;
    font-weight: 300;
    height: 100%;
    cursor: pointer;
}
#order-qty button:hover{
    background-color: #ddd;
}
#order-qty input{
    border: none;
    width: 35%;
}
.product-detail-summary{
    /* font-size: 0.75rem; */
    font-size:14px;
    border: 1px solid #d6d6d6;
    border-left: none;
    border-right: none;
    padding: 11px 0;
    color: #666;
    margin: 11px 0;
    line-height: 25px;
}
.product-detail-option{
    margin-bottom: 11px;
}
.detail-saleoff {
    color: #333;
    font-size: 1.5rem;
    line-height: 1.25em;
    display: block;
}
.product-detail-content{
    margin-top: 60px;
    margin-bottom: 60px;
}
.product-detail-content{
    border-bottom: 1px solid;
    border-color: #666;
    width: 100%;
}

.product-detail-tab{
    position: relative;
    text-align: center;
}
.product-detail-tab:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    left: 0;
    bottom: 0;
}
.pd-tabitem-link {
    padding: 10px 30px;
    display: block;
}
#product-info-section{
    border-bottom: 1px solid;
}
.product-detail-description {
    font-size: .875rem;
    /* border-bottom: 1px solid; */
    /* border-bottom: 1px solid var(--main-color); */
}
.product-detail-description-wrapper {
    background: #fff;
    padding: 20px 0;
}
h2.product-detail-information-title {
    font-family: 'FontAwesome';
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 15px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.prduct-detail-description-content{
    line-height: 30px;
}
.prduct-detail-description-content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#product-review-section{
    padding: 20px 0 !important;
}
#divId{
    text-align: center;
    display: grid;
    justify-content: center;
}
.imgStyle {
    width: 80px;
    height: 80px;
    margin: 3px;
    border: 1px solid grey;
    object-fit: contain;
}
#mainImage{
    /* width: 400px; */
    width: 100%;
    height: auto;
}
.product-detail-content .pd-tabitem-link:hover{
    cursor: pointer;
}
.btnWriteReview {
    border: 1px solid;
    border-radius: 5px;
    background-color: #33CC33;
    color: white !important;
    text-align: center;
}
.btnWriteReview:hover{
    border: 1px solid #33CC33;
    background-color: white;
    color: #33CC33 !important;
}
.user-comments .comment {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}
.comment-header {
    font-weight: bold;
}
.comment-body {
    margin-top: 5px;
}
